body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen{
    text-align: end;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.zero{
    grid-column: span 2;
}